@font-face {
    font-family: "Monocode";
    
    src: url('assets/fonts/monocode/monocode-regular.ttf');
    src: url('assets/fonts/monocode/monocode-regular.ttf') format('truetype');
    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monocode";
    
    src: url('assets/fonts/monocode/monocode-bold.ttf');
    src: url('assets/fonts/monocode/monocode-bold.ttf') format('truetype');
    
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Iosevka";
    
    src: url('assets/fonts/iosevka/iosevka-regular.ttf');
    src: url('assets/fonts/iosevka/iosevka-regular.ttf') format('truetype');
    
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(22, 22, 22);

    color: rgb(212, 212, 212);
    
    font-family: "Monocode";
    font-size: 15px;

    margin-top:    0px;
    margin-bottom: 0px;
    margin-left:   0px;
    margin-right:  0px;
}

pre {
    background-color: rgb(30, 30, 30);

    font-family: "Monocode";
    font-size: 15px;

    margin-top:    12px;
    margin-bottom: 12px;
    
    line-height: 18px;
}

hr {
    border: 1px solid rgb(212, 212, 212);
}

textarea {
    background-color: rgb(30, 30, 30);

    color: rgb(212, 212, 212);

    font-family: "Monocode";
    font-size: 15px;

    margin-top:    12px;
    margin-bottom: 12px;
    
    line-height: 18px;

    border-color: transparent;

    max-width: 100%;
}

.depth {
    position: relative;
}

.depth:before,
.depth:after {
    content: attr(title);
    position: absolute;
}

.depth:before {
    top: 0px;
    left: 0px;
}

.depth:after {
    top: -7px;
    left: 0px;
}
